[package]
name = "daemon"
edition = { workspace = true }
version = { workspace = true }

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
reqwest = { workspace = true }

settings = { path = "../../crates/settings" }
storage = { path = "../../crates/storage" }
api_connector = { path = "../../crates/api_connector" }
primitives = { path = "../../crates/primitives" }
fiat = { path = "../../crates/fiat" }
swap_oneinch = { path = "../../crates/swap_oneinch" }
job_runner = { path = "../../crates/job_runner" }
asset_id_ext = { path = "../../crates/asset_id_ext" }
