[workspace.package]
version = "1.0.0"
edition = "2021"

[workspace]
resolver = "2"
members = [
    "bin/generate",
    "primitives",
    "blockchain",
    "deamon",
    "api",
    "pricer",
    "fiat",
    "name_resolver",
    "api_connector",
]

default-members = [
    "bin/generate",
    "deamon",
    "api",
]

[workspace.dependencies]
typeshare = "1.0.1"
serde = { version = "1.0.186", features = ["derive"] }
serde_json = { version = "1.0.105" } 
tokio = { version = "1.32.0", features = ["macros", "rt-multi-thread"]}
redis = { version = "0.23.2", features = ["tokio-comp", "json"] }
reqwest = {version = "0.11.20", features = ["json"]}
url = { version = "2.4.0" }
config = { version = "0.13.3" }
rocket = { version = "=0.5.0-rc.3", features = ["json"] }
ethaddr = { version = "0.1.2" }
rust_decimal = { version = "1.32" }
diesel = { version = "2.1.0", features = ["postgres", "chrono"] }
diesel_migrations = { version = "2.1.0"}
async-trait = { version = "0.1.73"}
ethers = { version = "2.0.8", features = ["rustls"] }
rocket_prometheus = { version = "0.10.0-rc.3" }
base64 = { version = "0.21.2" } 
chrono = { version = "0.4.26", features = ["serde"] }