[workspace.package]
version = "1.0.0"
edition = "2021"
license = "MIT"
homepage = "https://gemwallet.com/"
description = "Gem Wallet Core library in Rust"
repository = "https://github.com/gemwalletcom/core"
documentation = "https://github.com/gemwalletcom"

[workspace]
resolver = "2"
members = [
    "bin/generate",
    "bin/uniffi-bindgen",
    "apps/api",
    "apps/daemon",
    "apps/parser",
    "apps/setup",

    "gemstone",

    "crates/primitives",
    "crates/blockchain",
    "crates/pricer",
    "crates/fiat",
    "crates/name_resolver",
    "crates/api_connector",
    "crates/settings",
    "crates/settings_chain",
]

default-members = [
    "bin/generate",
    "apps/setup",
    "apps/daemon",
    "apps/api",
    "apps/parser",
]

[workspace.dependencies]
typeshare = "1.0.1"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = { version = "1.0.114" }
tokio = { version = "1.36.0", features = ["macros", "rt-multi-thread"] }
reqwest = { version = "0.11.24", features = ["json"] }
reqwest-middleware = { version = "0.2.4" }
reqwest-retry = { version = "0.3.0" }
url = { version = "2.5.0" }
config = { version = "0.14.0" }
rocket = { version = "0.5.0", features = ["json"] }
rust_decimal = { version = "1.34" }
async-trait = { version = "0.1.77" }
prometheus-client = { version = "0.22.1" }
futures = { version = "0.3.30" }
thiserror = { version = "1.0.57" }
anyhow = { version = "1.0" }
indexmap = "2.2.2"
lazy_static = "1.4.0"

# db
diesel = { version = "2.1.4", features = ["postgres", "chrono", "serde_json"] }
diesel_migrations = { version = "2.1.0" }
redis = { version = "0.24.0", features = ["tokio-comp", "json"] }
chrono = { version = "0.4.34", features = ["serde"] }
clickhouse = { git = "https://github.com/loyd/clickhouse.rs", rev = "d930b66f6772aba5ef049b231fd15a9e6a974854" }

# crypto
base64 = { version = "0.21.7" }
blake2 = "0.10.6"
#bech32 = { version = "0.9.1" }
bs58 = { version = "0.5.0", features = ["check"] }
hex = { version = "0.4.3" }
num-bigint = { version = "0.4.4", features = ["std", "serde"] }
num-traits = { version = "0.2.18" }
cosmos-sdk-proto = { version = "0.20.0" }
hmac = { version = "0.12.1" }
sha2 = { version = "0.10.8" }
strum = { version = "0.26.1", features = ["derive"] }
strum_macros = "0.26.1"
jsonrpsee = { version = "0.21.0", features = ["http-client"] }
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
itoa = { version = "1.0.10" }
curve25519-dalek = { version = "4.1.2" }
uniffi = { version = "0.26.1" }
uniffi_bindgen = { version = "0.26.1" }
