[workspace.package]
version = "1.0.0"
edition = "2021"

[workspace]
resolver = "2"
members = [
    "bin/generate",
    "primitives",
    "blockchain",
    "deamon",
    "api",
    "pricer",
    "fiat",
    "name_resolver",
    "api_connector",
    "ns_address_codec",
    "parser",
    "setup",
    "settings",
    "settings_chain",
]

default-members = ["bin/generate", "deamon", "api", "parser", "setup"]

[workspace.dependencies]
typeshare = "1.0.1"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = { version = "1.0.108" }
serde_urlencoded = { version = "0.7.1" }
tokio = { version = "1.35.0", features = ["macros", "rt-multi-thread"] }
reqwest = { version = "0.11.22", features = ["json"] }
reqwest-middleware = { version = "0.2.4" }
reqwest-retry = { version = "0.3.0" }
url = { version = "2.5.0" }
config = { version = "0.13.4" }
rocket = { version = "=0.5.0", features = ["json"] }
rust_decimal = { version = "1.33" }
async-trait = { version = "0.1.74" }
prometheus-client = { version = "0.22.0" }
futures = { version = "0.3.29" }
thiserror = { version = "1.0.50" }

# db
diesel = { version = "2.1.4", features = ["postgres", "chrono", "serde_json"] }
diesel_migrations = { version = "2.1.0" }
redis = { version = "0.24.0", features = ["tokio-comp", "json"] }
chrono = { version = "0.4.31", features = ["serde"] }
clickhouse = { git = "https://github.com/loyd/clickhouse.rs", rev = "d930b66f6772aba5ef049b231fd15a9e6a974854" }

# crypto
base64 = { version = "0.21.5" }
bech32 = { version = "0.9.1" }
bs58 = { version = "0.5.0", features = ["check"] }
hex = { version = "0.4.3" }
num-bigint = { version = "0.4.4", features = ["std", "serde"] }
num-traits = { version = "0.2.17" }
cosmos-sdk-proto = { version = "0.20.0" }
hmac = { version = "0.12.1" }
sha2 = { version = "0.10.8" }
strum = { version = "0.25.0", features = ["derive"] }
jsonrpsee = { version = "0.20.3", features = ["http-client"] }
tiny-keccak = { version = "2.0.2", features = ["keccak"] }
itoa = { version = "1.0.9" }
curve25519-dalek = { version = "4.1.1" }
