services:
  app_build:
    image: app
    container_name: app_build
    build:
      context: .
      dockerfile: Dockerfile

  api:
    image: app
    container_name: api
    environment:
      ROCKET_ADDRESS: 0.0.0.0
      ROCKET_PORT: 8000
      BINARY: api
      REDIS_URL: "redis://default:@redis:6379"
      POSTGRES_URL: "postgres://username:password@postgres/api"
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - app_build
      - redis
      - postgres

  setup:
    image: app
    container_name: setup
    environment:
      BINARY: setup
      REDIS_URL: "redis://default:@redis:6379"
      POSTGRES_URL: "postgres://username:password@postgres/api"
    depends_on:
      - app_build
      - redis
      - postgres

  daemon:
    image: app
    container_name: daemon
    environment:
      BINARY: daemon
      REDIS_URL: "redis://default:@redis:6379"
      POSTGRES_URL: "postgres://username:password@postgres/api"
    depends_on:
      - app_build
      - setup
      - redis
      - postgres

  parser:
    image: app
    container_name: parser
    environment:
      BINARY: parser
      POSTGRES_URL: "postgres://username:password@postgres/api"
    depends_on:
      - app_build
      - setup
      - postgres

  redis:
    image: redis:7.0-alpine
    container_name: redis
    restart: always
    ports:
      - 6379:6379

  postgres:
    image: postgres:latest
    container_name: postgres
    ports:
      - 5432:5432
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: api
  
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: username
      RABBITMQ_DEFAULT_PASS: password

  clickhouse:
    image: clickhouse/clickhouse-server
    container_name: clickhouse
    restart: always
    ports:
      - 8123:8123 # HTTP interface
      - 9000:9000 # Native interface
      - 9009:9009 # TCP interface
    volumes:
      - clickhouse:/var/lib/clickhouse

  meilisearch:
    image: getmeili/meilisearch:v1.15.0-rc.4
    container_name: meilisearch
    restart: always
    ports:
      - 7700:7700
    environment:
      MEILI_NO_ANALYTICS: true
      MEILI_EXPERIMENTAL_ENABLE_METRICS: true
    volumes:
      - meilisearch:/meili_data

volumes:
  postgres:
  clickhouse:
  meilisearch:
