[package]
name = "prices_dex"
version = { workspace = true }
edition = { workspace = true }

[dependencies]
async-trait = { workspace = true }
chrono = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

primitives = { path = "../primitives" }
serde_serializers = { path = "../serde_serializers" }
settings = { path = "../settings", features = ["testkit"], optional = true }

[dev-dependencies]
tokio.workspace = true

[features]
default = []
price_integration_tests = ["settings"]
