[package]
name = "img-downloader"
version = { workspace = true }
edition = { workspace = true }

[dependencies]
tokio = { workspace = true }
serde = { workspace = true }
reqwest = { workspace = true }

clap = { version = "4.5.45", features = ["derive"] }

chain_primitives = { path = "../../crates/chain_primitives" }
coingecko = { path = "../../crates/coingecko" }
settings = { path = "../../crates/settings" }
gem_client = { path = "../../crates/gem_client", features = ["reqwest"] }
gem_evm = { path = "../../crates/gem_evm" }
