[package]
name = "gem_sui"
version = { workspace = true }
edition = { workspace = true }

[features]
default = []
rpc = [
    "gem_jsonrpc/client",
    "dep:async-trait",
    "dep:gem_client",
    "dep:chain_traits",
]
signer = ["dep:ed25519-dalek", "dep:zeroize"]
reqwest = ["gem_jsonrpc/reqwest"]
chain_integration_tests = ["rpc", "reqwest", "settings/testkit"]

[dependencies]
primitives = { path = "../primitives" }
chain_primitives = { path = "../chain_primitives" }
sui-types = { workspace = true }
sui-transaction-builder = { workspace = true }
bcs = { version = "0.1.6" }
hex = { workspace = true }
base64 = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde_serializers = { path = "../serde_serializers" }
chrono = { workspace = true }
num-traits = { workspace = true }

gem_jsonrpc = { path = "../gem_jsonrpc" }
futures = { workspace = true }
ed25519-dalek = { version = "2.1.1", default-features = false, features = ["std", "zeroize"], optional = true }
zeroize = { version = "1.8.2", optional = true }

# Optional dependencies for rpc feature
num-bigint = { workspace = true, features = ["serde"] }
async-trait = { workspace = true, optional = true }
gem_client = { path = "../gem_client", optional = true }
chain_traits = { path = "../chain_traits", optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt"] }
reqwest = { workspace = true }
primitives = { path = "../primitives", features = ["testkit"] }
settings = { path = "../settings", features = ["testkit"] }
