[package]
name = "gem_sui"
version = { workspace = true }
edition = { workspace = true }

[features]
default = []
rpc = [
    "gem_jsonrpc/client", 
    "dep:num-bigint",
    "dep:async-trait",
    "dep:gem_client",
    "dep:chain_traits"
]
reqwest = ["gem_jsonrpc/reqwest"]

[dependencies]
primitives = { path = "../primitives" }
chain_primitives = { path = "../chain_primitives" }
sui-types = { workspace = true }
sui-transaction-builder = { workspace = true }
bcs = { workspace = true }
hex = { workspace = true }
base64 = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde_serializers = { path = "../serde_serializers" }
chrono = { workspace = true }

gem_jsonrpc = { path = "../gem_jsonrpc" }

# Optional dependencies for rpc feature
num-bigint = { workspace = true, features = ["serde"], optional = true }
async-trait = { workspace = true, optional = true }
gem_client = { path = "../gem_client", optional = true }
chain_traits = { path = "../chain_traits", optional = true }
