[package]
name = "gem_sui"
version = { workspace = true }
edition = { workspace = true }

[dependencies]

primitives = { path = "../primitives" }

sui-types = { workspace = true }
bcs = { workspace = true }
blake2 = { workspace = true }
hex = { workspace = true }
thiserror = { workspace = true }
base64 = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
