[package]
name = "gem_ton"
version = { workspace = true }
edition = { workspace = true }

[features]
default = []
rpc = [
    "dep:async-trait",
    "dep:gem_client",
    "dep:chain_traits",
    "dep:futures",
]
signer = ["dep:ed25519-dalek", "dep:zeroize"]
reqwest = ["gem_client/reqwest"]
chain_integration_tests = ["rpc", "reqwest", "settings/testkit"]

[dependencies]
base64 = { workspace = true }
hex = { workspace = true }
crc = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
chrono = { workspace = true, features = ["serde"] }
primitives = { path = "../primitives" }
num-bigint = { workspace = true }

serde_serializers = { path = "../serde_serializers" }

# Optional RPC dependencies
async-trait = { workspace = true, optional = true }
gem_client = { path = "../gem_client", optional = true }
chain_traits = { path = "../chain_traits", optional = true }
futures = { workspace = true, optional = true }

# Optional signer dependencies
ed25519-dalek = { version = "2.1.1", default-features = false, features = ["std", "zeroize"], optional = true }
zeroize = { version = "1.8.2", optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt"] }
reqwest = { workspace = true }
settings = { path = "../settings", features = ["testkit"] }
