[package]
name = "gem_evm"
version = { workspace = true }
edition = { workspace = true }

[features]
default = []
rpc = [
    "gem_jsonrpc/client",
    "dep:chrono",
    "dep:async-trait",
    "dep:futures",
    "dep:lazy_static",
    "dep:itertools",
    "dep:chain_traits",
]
reqwest = ["gem_jsonrpc/reqwest", "gem_client/reqwest"]
chain_integration_tests = ["rpc", "reqwest"]

[dependencies]
primitives = { path = "../primitives" }
chain_primitives = { path = "../chain_primitives" }
gem_hash = { path = "../gem_hash" }
serde_serializers = { path = "../serde_serializers" }
gem_jsonrpc = { path = "../gem_jsonrpc" }
gem_client = { path = "../gem_client" }
gem_bsc = { path = "../gem_bsc" }

itertools = { workspace = true, optional = true }
hex = { workspace = true }
anyhow = { workspace = true }
alloy-primitives = { workspace = true }
alloy-sol-types = { workspace = true, features = ["eip712-serde"] }
alloy-dyn-abi = { workspace = true, features = ["eip712"] }
alloy-json-abi = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
bigdecimal = { workspace = true }

# rpc feature
chrono = { workspace = true, optional = true }
async-trait = { workspace = true, optional = true }
futures = { workspace = true, optional = true }
lazy_static = { workspace = true, optional = true }
chain_traits = { path = "../chain_traits", optional = true }

[dev-dependencies]
primitives = { path = "../primitives", features = ["testkit"] }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
num-bigint = { workspace = true }
reqwest = { workspace = true, features = ["json"] }

[[test]]
name = "integration_test"
test = false
required-features = ["rpc"]
