[package]
name = "gem_evm"
version = { workspace = true }
edition = { workspace = true }

[features]
default = ["rpc"] # FIXME remove rpc from default
typeshare = []
rpc = []

[dependencies]

primitives = { path = "../primitives" }
gem_hash = { path = "../gem_hash" }
serde_serializers = { path = "../serde_serializers" }

hex = { workspace = true }
itoa = { workspace = true }
anyhow = { workspace = true }
alloy-primitives = { workspace = true }
alloy-sol-types = { workspace = true, features = ["eip712-serde"] }
alloy-dyn-abi = { workspace = true, features = ["eip712"] }
serde = { workspace = true }
serde_json = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
bigdecimal = { workspace = true }
typeshare = { workspace = true }
alloy-rpc-client = { workspace = true }
alloy-rpc-types = { workspace = true }
alloy-transport-http = { workspace = true }
url = { workspace = true, features = ["serde"] }
chrono = { workspace = true }
async-trait = { workspace = true }
gem_chain_rpc = { path = "../gem_chain_rpc" }
