[package]
name = "gem_evm"
version = { workspace = true }
edition = { workspace = true }

[features]
default = []
typeshare = ["dep:typeshare"]
rpc = [
    "gem_jsonrpc/client",
    "dep:chrono",
    "dep:async-trait",
    "dep:futures",
    "dep:lazy_static",
]

[dependencies]
primitives = { path = "../primitives" }
chain_primitives = { path = "../chain_primitives" }
gem_hash = { path = "../gem_hash" }
serde_serializers = { path = "../serde_serializers" }
gem_jsonrpc = { path = "../gem_jsonrpc" }

reqwest-middleware = { workspace = true }
itertools = { workspace = true }
hex = { workspace = true }
itoa = { workspace = true }
anyhow = { workspace = true }
alloy-primitives = { workspace = true }
alloy-sol-types = { workspace = true, features = ["eip712-serde"] }
alloy-dyn-abi = { workspace = true, features = ["eip712"] }
serde = { workspace = true }
serde_json = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
bigdecimal = { workspace = true }

# typeshare
typeshare = { workspace = true, optional = true }

# rpc feature
chrono = { workspace = true, optional = true }
async-trait = { workspace = true, optional = true }
futures = { workspace = true, optional = true }
lazy_static = { workspace = true, optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
num-bigint = { workspace = true }

[[test]]
name = "integration_test"
test = false
required-features = ["rpc"]
