[package]
name = "gem_evm"
version = { workspace = true }
edition = { workspace = true }

[dependencies]

primitives = { path = "../primitives" }
gem_hash = { path = "../gem_hash" }

hex = { workspace = true }
itoa = { workspace = true }
anyhow = { workspace = true }
alloy-core = { workspace = true }
alloy-sol-types = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
