[package]
name = "gem_evm"
version = { workspace = true }
edition = { workspace = true }

[dependencies]

hex = { workspace = true }
itoa = { workspace = true }
anyhow = { workspace = true }
alloy-core = { workspace = true, features = ["sol-types", "json-abi"] }

gem_hash = { path = "../gem_hash" }
