[package]
name = "gem_jsonrpc"
version = { workspace = true }
edition = { workspace = true }

[features]
default = ["types"]
types = []
client = ["dep:gem_client"]
reqwest = ["client", "gem_client/reqwest", "dep:reqwest"]

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
anyhow = { workspace = true }

gem_client = { path = "../gem_client", optional = true }
reqwest = { workspace = true, optional = true }
