[package]
name = "gem_tron"
version = { workspace = true }
edition = { workspace = true }

[dependencies]
bs58 = { workspace = true }
hex = { workspace = true }
primitives = { path = "../primitives" }
signer = { path = "../signer" }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }

# RPC specific dependencies (optional)
chrono = { workspace = true, features = ["serde"], optional = true }
num-bigint = { workspace = true, optional = true }
num-traits = { workspace = true, optional = true }
number_formatter = { path = "../number_formatter", optional = true }
gem_evm = { path = "../gem_evm", optional = true }
gem_client = { path = "../gem_client", optional = true }
chain_traits = { path = "../chain_traits", optional = true }
gem_hash = { path = "../gem_hash" }
async-trait = { workspace = true, optional = true }
futures = { workspace = true, optional = true }
alloy-primitives = { workspace = true, optional = true }
alloy-sol-types = { workspace = true, optional = true }

[features]
default = ["rpc"]
rpc = [
    "dep:chrono",
    "dep:num-bigint",
    "dep:num-traits",
    "dep:number_formatter",
    "dep:gem_evm",
    "dep:gem_client",
    "dep:chain_traits",
    "dep:async-trait",
    "dep:futures",
    "dep:alloy-primitives",
    "dep:alloy-sol-types",
]
reqwest = ["gem_client/reqwest"]
chain_integration_tests = ["rpc", "reqwest", "primitives/testkit", "settings/testkit"]

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt"] }
reqwest = { workspace = true }
gem_client = { path = "../gem_client", features = ["reqwest"] }
settings = { path = "../settings", features = ["testkit"] }
