[package]
name = "gem_bsc"
version = { workspace = true }
edition = { workspace = true }

[dependencies]

hex = { workspace = true }
alloy-primitives = { workspace = true }
alloy-sol-types = { workspace = true }
