[package]
name = "gem_xrp"
version = { workspace = true }
edition = "2024"

[features]
default = []
typeshare = ["dep:typeshare"]
rpc = []

[dependencies]
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
thiserror = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }

typeshare = { workspace = true, optional = true }

reqwest-middleware = { workspace = true, features = ["json"] }
chrono = { workspace = true, features = ["serde"] }
hex = { workspace = true }
primitives = { path = "../primitives" }
number_formatter = { path = "../number_formatter" }
gem_chain_rpc = { path = "../gem_chain_rpc" }
