[package]
edition = "2021"
name = "gemstone"
version = "0.1.1"

[lib]
crate-type = [
    "staticlib", # iOS
    "rlib",      # for Other crate 
    "cdylib",    # Android
]

name = "gemstone"

[dependencies]
primitives = { path = "../crates/primitives" }

async-std = "1.12.0"

# Crypto
bech32 = { workspace = true }

# Sui
bcs = "0.1.6"
sui-types = { git = "https://github.com/mystenlabs/sui", package = "sui-types", tag = "mainnet-v1.19.1" }
blake2 = { workspace = true }
base64 = { workspace = true }
hex = { workspace = true }
thiserror = { workspace = true }
anyhow = { workspace = true }

# uniffi
uniffi = { workspace = true }

[build-dependencies]
uniffi = { workspace = true, features = ["build"] }
