[package]
edition = "2021"
name = "gemstone"
version = "0.31.1"

[lib]
crate-type = [
    "staticlib", # iOS
    "rlib",      # for Other crate
    "cdylib",    # Android
]

name = "gemstone"

[dependencies]
primitives = { path = "../crates/primitives" }
gem_cosmos = { path = "../crates/gem_cosmos" }
gem_solana = { path = "../crates/gem_solana" }
gem_ton = { path = "../crates/gem_ton" }
gem_bsc = { path = "../crates/gem_bsc" }
gem_evm = { path = "../crates/gem_evm" }
gem_sui = { path = "../crates/gem_sui" }
gem_aptos = { path = "../crates/gem_aptos" }
gem_hash = { path = "../crates/gem_hash" }
serde_serializers = { path = "../crates/serde_serializers" }

bcs.workspace = true
sui-types.workspace = true
sui-transaction-builder.workspace = true
# uniffi
uniffi.workspace = true
thiserror.workspace = true

anyhow.workspace = true

base64.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_urlencoded.workspace = true
async-trait.workspace = true
alloy-core.workspace = true
alloy-primitives.workspace = true
hex.workspace = true
url.workspace = true
num-bigint.workspace = true
num-traits.workspace = true
futures.workspace = true
borsh.workspace = true
lazy_static.workspace = true
bigdecimal.workspace = true
rand.workspace = true
bs58.workspace = true
orca_whirlpools_core = "1.0.5"

[build-dependencies]
uniffi = { workspace = true, features = ["build"] }

[dev-dependencies]
tokio.workspace = true
alien_provider = { path = "../crates/alien_provider" }

[[test]]
name = "integration_test"
test = false
