[package]
edition = "2021"
name = "gemstone"
version = "0.1.1"

[lib]
crate-type = [
    "staticlib", # iOS
    "rlib",      # for Other crate
    "cdylib",    # Android
]

name = "gemstone"

[dependencies]
primitives = { path = "../crates/primitives" }
gem_cosmos = { path = "../crates/gem_cosmos" }
gem_solana = { path = "../crates/gem_solana" }
gem_ton = { path = "../crates/gem_ton" }
gem_bsc = { path = "../crates/gem_bsc" }
gem_evm = { path = "../crates/gem_evm" }
gem_sui = { path = "../crates/gem_sui" }

# uniffi
uniffi.workspace = true
thiserror.workspace = true

anyhow.workspace = true
base64.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_urlencoded.workspace = true
async-trait.workspace = true
alloy-core.workspace = true
alloy-primitives.workspace = true
hex.workspace = true
url.workspace = true
num-bigint.workspace = true
borsh.workspace = true
orca_whirlpools_core = "0.3.1"

[build-dependencies]
uniffi = { workspace = true, features = ["build"] }

[dev-dependencies]
async-std.workspace = true
tokio.workspace = true
reqwest.workspace = true
futures.workspace = true

[[test]]
name = "integration_test"
test = false
