[package]
name = "gem_cosmos"
version = { workspace = true }
edition = { workspace = true }

[dependencies]
bech32 = { workspace = true }
anyhow = { workspace = true }
hex = { workspace = true }
sha2 = { workspace = true }
base64 = { workspace = true }
primitives = { path = "../primitives" }
serde = { workspace = true, features = ["derive"] }
serde_serializers = { path = "../serde_serializers" }

# Optional RPC dependencies
serde_json = { workspace = true, optional = true }
chrono = { workspace = true, features = ["serde"], optional = true }
cosmos-sdk-proto = { workspace = true, optional = true }
async-trait = { workspace = true, optional = true }
gem_client = { path = "../gem_client", optional = true }
chain_traits = { path = "../chain_traits", optional = true }
futures = { workspace = true, optional = true }
number_formatter = { path = "../number_formatter", optional = true }

num-bigint = { workspace = true, optional = true }

[features]
default = []
rpc = [
    "dep:serde_json",
    "dep:chrono",
    "dep:cosmos-sdk-proto",
    "dep:async-trait",
    "dep:gem_client",
    "dep:chain_traits",
    "dep:futures",
    "dep:num-bigint",
    "dep:number_formatter",
]
reqwest = ["gem_client/reqwest"]
integration_tests = ["rpc", "reqwest"]

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt"] }
reqwest = { workspace = true }
