[package]
name = "gem_chain_rpc"
edition = { workspace = true }
version = { workspace = true }

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
async-trait = { workspace = true }
chrono = { workspace = true }
hex = { workspace = true }
num-bigint = { workspace = true }
num-traits = { workspace = true }
reqwest-middleware = { workspace = true, features = ["json"] }
cosmos-sdk-proto = { workspace = true }
base64 = { workspace = true }
sha2 = { workspace = true }
bs58 = { workspace = true }
jsonrpsee = { workspace = true }
futures = { workspace = true }
anyhow = { workspace = true }

primitives = { path = "../primitives" }
serde_serializers = { path = "../serde_serializers" }
number_formatter = { path = "../number_formatter" }

gem_ton = { path = "../gem_ton" }
gem_aptos = { path = "../gem_aptos" }
gem_sui = { path = "../gem_sui" }
gem_evm = { path = "../gem_evm" }
gem_solana = { path = "../gem_solana" }
gem_xrp = { path = "../gem_xrp" }

alloy-primitives = { workspace = true }
alloy-sol-types = { workspace = true }

[dev-dependencies]
tokio.workspace = true

[[test]]
name = "integration_test"
test = false
