[package]
name = "api"
edition = { workspace = true }
version = { workspace = true }

[dependencies]
rocket = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
config = { workspace = true }
prometheus-client = { workspace = true }

storage = { path = "../../crates/storage" }
pricer = { path = "../pricer" }
fiat = { path = "../../crates/fiat" }
swapper = { path = "../../crates/swapper" }
settings = { path = "../../crates/settings" }
settings_chain = { path = "../../crates/settings_chain" }
name_resolver = { path = "../../crates/name_resolver" }
primitives = { path = "../../crates/primitives" }
api_connector = { path = "../../crates/api_connector" }
price_alert = { path = "../../crates/price_alert" }
chain_primitives = { path = "../../crates/chain_primitives" }

security_provider = { path = "../../crates/security_provider" }
security_hashdit = { path = "../../crates/security_hashdit" }
security_goplus = { path = "../../crates/security_goplus" }
