name: Gemstone CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'gemstone/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'gemstone/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  build_ios:
    runs-on: macos-latest-xlarge
    defaults:
      run:
        working-directory: gemstone
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.3
    - name: Install targets
      run: make prepare-apple
    - name: Run tests
      run: cargo test
