name: CI - Gemstone Android

on:
  push:
    branches: ["main"]
    paths:
      - "gemstone/**"
  pull_request:
    branches: ["main"]
    paths:
      - "gemstone/**"
      - ".github/workflows/ci-stone-android.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build_android:
    runs-on: ubuntu-latest
    env:
      ANDROID_NDK_HOME: /usr/local/lib/android/sdk/ndk/28.1.13356709
      ANDROID_NDK_ROOT: /usr/local/lib/android/sdk/ndk/28.1.13356709
    defaults:
      run:
        working-directory: gemstone
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain with Android targets
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-linux-android,aarch64-linux-android,armv7-linux-androideabi

      - name: Install cargo-ndk
        run: cargo install cargo-ndk@3.5.4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "zulu"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: 'build-tools;36.0.0 platforms;android-36 ndk;28.1.13356709'

      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.12.0"

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build Android Bindings
        run: |
          df -h
          just build-android
