name: CI - Gemstone iOS

on:
  push:
    branches: ["main"]
    paths:
      - "gemstone/**"
  pull_request:
    branches: ["main"]
    paths:
      - "gemstone/**"
      - ".github/workflows/ci-stone-ios.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build_ios:
    runs-on: macos-15
    defaults:
      run:
        working-directory: gemstone
    steps:
      - uses: actions/checkout@v4

      - name: Restore cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.8

      - name: Install just
        run: brew install just

      - name: Setup Xcode
        run: |
          xcrun simctl list devices

      - name: Test iOS
        run: |
          just install-ios-targets
          just build-ios && just test-ios
