name: CI - Gemstone Android

on:
  push:
    branches: ["main"]
    paths:
      - "gemstone/**"
  pull_request:
    branches: ["main"]
    paths:
      - "gemstone/**"
      - ".github/workflows/ci-stone-android.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  android:
    runs-on: ubuntu-latest
    env:
      ANDROID_NDK_HOME: /usr/local/lib/android/sdk/ndk/28.1.13356709
      ANDROID_NDK_ROOT: /usr/local/lib/android/sdk/ndk/28.1.13356709
    defaults:
      run:
        working-directory: gemstone
    steps:
      - uses: actions/checkout@v4

      - name: Free disk space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet /opt/ghc /opt/hostedtoolcache/CodeQL /usr/local/lib/node_modules
          sudo apt-get clean
          df -h

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "zulu"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: 'build-tools;36.0.0 platforms;android-36 ndk;28.1.13356709 system-images;android-29;default;x86_64 emulator'

      - name: Restore cargo cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: "ci-rust"

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Cache AVD
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-29-2g-${{ runner.os }}

      - name: Install Android Targets
        run: just install-android-targets

      - name: Build Android Bindings
        run: just build-android

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Run Android Instrumented Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          arch: x86_64
          force-avd-creation: false
          disk-size: 2048M
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: cd gemstone/android && ./gradlew connectedDebugAndroidTest
