name: CI - Gemstone Android

on:
  push:
    branches: ["main"]
    paths:
      - "gemstone/**"
  pull_request:
    branches: ["main"]
    paths:
      - "gemstone/**"
      - ".github/workflows/ci-stone-android.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build_android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: gemstone
    steps:
      - uses: actions/checkout@v4
      - name: Clean space
        run: |
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          echo "======================================================"
          df -h

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "zulu"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: |
            build-tools;36.0.0
            platforms;android-36
            platform-tools

      - name: Restore cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.8

      - name: Install just
        run: sudo apt install just

      - name: Setup NDK
        run: just --unstable install-ndk

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build Android Bindings
        run: |
          df -h
          just --unstable install-android-targets
          just --unstable build-android
