name: Gemstone Tag version

on: 
  workflow_dispatch:
    inputs:
      bump_type:
        description: Bump type
        required: true
        default: patch
        type: choice
        options:
          - patch
          - minor
          - major

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  auto_tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Auto bump
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: ${{ github.event.inputs.bump_type }}
