name: CI - Docker Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  docker_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build core
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: core
          push: false
          cache-from: type=gha,scope=core
          cache-to: type=gha,mode=max,scope=core
          tags: core:latest

      - name: Build dynode
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: dynode
          push: false
          cache-from: type=gha,scope=core
          cache-to: type=gha,mode=max,scope=core
          tags: dynode:latest
