name: CI - Docker Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  docker_build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    steps:
      - uses: actions/checkout@v4

      - name: Clean space
        run: ./free_disk_space.sh
        working-directory: scripts

      - name: Docker Build
        run: |
          docker build --tag core .
