name: CI - Lint
on:
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always  

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install just
        run: sudo apt install just

      - name: Run Lint
        run: JUST_ALLOW_UNSTABLE=true just lint
