name: Release - Gemstone Android
run-name: "Release Gemstone Android ${{ github.event.inputs.ref_name || github.ref_name }}"

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      ref_name:
        description: "github ref name (tag)"
        required: true
      publish_gpr:
        description: "Publish to Github Packages"
        required: true
        default: true
        type: boolean
      publish_sonatype:
        description: "Publish to Maven Central"
        required: true
        default: true
        type: boolean

jobs:
  publish_gpr:
    if: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish_gpr == 'true' }}
    uses: ./.github/workflows/publish-android.yml
    with:
      ref_name: ${{ github.event.inputs.ref_name || github.ref_name }}
      publish_target: gpr

  publish_sonatype:
    if: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs.publish_sonatype == 'true' }}
    uses: ./.github/workflows/publish-android.yml
    with:
      ref_name: ${{ github.event.inputs.ref_name || github.ref_name }}
      publish_target: sonatype
    secrets:
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      MVN_SIGNING_KEY: ${{ secrets.MVN_SIGNING_KEY }}
      MVN_SIGNING_PASSPHRASE: ${{ secrets.MVN_SIGNING_PASSPHRASE }}
