name: Release - Gemstone Android
run-name: "Release Gemstone Android ${{ github.event.inputs.ref_name || github.ref_name }}"

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      ref_name:
        description: "github ref name (tag)"
        required: true

jobs:
  publish_gpr:
    uses: ./.github/workflows/publish-android.yml
    with:
      ref_name: ${{ github.event.inputs.ref_name || github.ref_name }}
      publish_target: gpr

  publish_sonatype:
    uses: ./.github/workflows/publish-android.yml
    with:
      ref_name: ${{ github.event.inputs.ref_name || github.ref_name }}
      publish_target: sonatype
    secrets:
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      MVN_SIGNING_KEY: ${{ secrets.MVN_SIGNING_KEY }}
      MVN_SIGNING_PASSPHRASE: ${{ secrets.MVN_SIGNING_PASSPHRASE }}
