[package]
name = "gem_aptos"
version = { workspace = true }
edition = { workspace = true }

[features]
default = []
rpc = [
    "dep:async-trait",
    "dep:chrono",
    "dep:chain_traits",
    "dep:gem_client",
    "dep:futures"
]
reqwest = ["gem_client/reqwest"]
chain_integration_tests = ["rpc", "reqwest"]

[dependencies]
primitives = { path = "../primitives" }
serde = { workspace = true }
serde_json = { workspace = true }
serde_serializers = { path = "../serde_serializers" }
num-bigint = { workspace = true }

# Dependencies for RPC client & mapper
async-trait = { workspace = true, optional = true }
chrono = { workspace = true, optional = true }
chain_traits = { path = "../chain_traits", optional = true }
gem_client = { path = "../gem_client", optional = true }
futures = { workspace = true, optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt"] }
reqwest = { workspace = true }
